<div class="error">{{error}}</div>
<form method="POST">
    <div class="input-holder">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{title}}" />
    </div>
    <div class="input-holder">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" value="{{author}}" />
    </div>
    <div class="input-holder">
        <label for="releaseDate">Release Date:</label>
        <input type="date" name="releaseDate" id="releaseDate" value="{{releaseDate}}" />
    </div>
    <div class="input-holder">
        <label for="imageUrl">Image URL:</label>
        <input type="url" name="imageUrl" id="imageUrl" value="{{imageUrl}}" />
    </div>
    <br/>
    <input type="submit" value="submit">
</form>