<div>
    <h1>{{title}}</h1>
    <h2>by {{author}}</h2>
    <img id="bookImage" src="{{imageUrl}}" alt="{{title}}" />
    <form method="get" action="/delete/{{_id}}">
    <button type="submit">Delete</button>
</form>
</div>